@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-wix-madefor-display: "Wix Madefor Display", sans-serif;

  --color-primary: #4160ff;
  --color-dark-primary: #213269;
  --color-light-gray: #e9e9e9;
  --color-my-light-blue: #E3EBFF;
  --color-my-red: #ff1500;
  --color-my-pink: #FC685B;
  --color-my-dark-purple: #101828;
  --color-my-purple: #170F49;
  --color-my-half-purple: #6F6C8F;
  --color-my-yellow: #FFC107;

  --animate-marquee: marquee 8s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    } 
    100% {
      transform: translateX(-50%)
    }
  }
}

.gray-scrollbar {
  scrollbar-width: normal;              /* Firefox */
  scrollbar-color: #4f4f4f transparent; /* thumb | track */
}
.gray-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  border-radius: 999px;
}

.primary-scrollbar {
  scrollbar-width: normal;              /* Firefox */
  scrollbar-color: #4160ff transparent; /* thumb | track */
}

.primary-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4160ff;
  border-radius: 999px;
}

/* Chrome, Edge, Safari */
.primary-scrollbar::-webkit-scrollbar,
.gray-scrollbar::-webkit-scrollbar {
  height: 6px;   
  width: 6px;    
}

.primary-scrollbar::-webkit-scrollbar-track,
.gray-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.primary-scrollbar::-webkit-scrollbar-button,
.gray-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

._no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

._select-no-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
}

._select-no-arrow::ms-expand {
  display: none;
}

.next-btn {
  background: #000;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

@media (max-width: 400px) {
  .g-recaptcha {
    transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
  }
}

@media (max-width: 350px) {
  .g-recaptcha {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
  }
}

